<div class="wrapper">
    <h2 class="post-link">О нас</h2>
    <p>
        Компания ООО "Агроспецтехника" является диллером <a href="http://www.otzspb.ru/">Опытного Тракторного Завода (г. Санкт-Петербург)</a>,
        в Алтайском крае с 2011 года. Предлагаем полный спектр тракторов марки К-704 ТУ (РТ) для выполнения промышленных и с/х работ. Оказываем
        услуги по гарантийно-сервисному обслуживанию и послегарантийному ремонту.
    </p>
    <p>
        Директор: {{ site.director }}<br/>
        Расчетный счет: {{ site.settlement_account }}<br/>
        ИНН: {{ site.inn }}<br/>
        КПП: {{ site.kpp }}<br/>
        ОГРН: {{ site.ogrn }}<br/>
    </p>
</div>